<!-- <div class="row">
    @if (user) {
    <div class="card p-4">
        <h3>User Details</h3>
        <p><strong>ID:</strong> {{ user.id }}</p>
        <p><strong>Name:</strong> {{ user.fullName }}</p>
        <p><strong>Mobile:</strong> {{ user.mobilePhone }}</p>
        <p><strong>Birth Date:</strong> {{ user.birthDate }}</p>
    </div>
    }

    @if (!user) {
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="text-muted text-center">
            <span class="loader"></span>
        </div>
    </div>
    }
</div> -->
<div class="row">
    <app-card cardTitle="Profile picture" [options]="false" blockClass="table-border-style" class="col-md-4">
        <!-- <form enctype="multipart/form-data" class="d-flex justify-content-center">
            <label for="fileToUpload">
                <div class="profile-pic" style="background-image: url('assets/images/user/avatar-4.jpg')">
                    <span class="feather icon-camera"></span>
                    <span>Change Image</span>
                </div>
            </label>
            <input type="File" name="fileToUpload" id="fileToUpload" />
        </form> -->
        <form enctype="multipart/form-data" class="d-flex justify-content-center">
            <label for="fileToUpload">
                <div class="profile-pic" [style.background-image]="'url(' + previewImage + ')'">
                    <span class="feather icon-camera"></span>
                    <span>Change Image</span>
                </div>
            </label>

            <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*" (change)="onFileSelected($event)"
                hidden />
        </form>

    </app-card>
    <app-card cardTitle="User info" [options]="false" blockClass="table-border-style" class="col-md-8">
        <form class="needs-validation" novalidate (ngSubmit)="saveChanges()">

            <!-- <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01" class="form-label fw-bold">Full name</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Full Name" required />
                    <div class="valid-tooltip">Looks good!</div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="validationTooltip02" class="form-label fw-bold">Mobile number</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="Mobile number"
                        required />
                    <div class="valid-tooltip">Looks good!</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip02" class="form-label fw-bold">Grade</label>
                    <select id="inputState" class="form-control">
                        <option selected>Grade 3</option>
                        <option>Grade 4</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="endDate" class="form-label fw-bold">Birth date</label>
                    <input formControlName="birthDate" id="endDate" type="date" class="form-control" />
                </div>
            </div> -->

            <div class="row">
                <div class="form-group">
                    <label class="form-label fw-bold">Full name</label>
                    <input type="text" class="form-control" [(ngModel)]="form.fullName" name="fullName"
                        placeholder="Full Name" required />
                    <div class="valid-tooltip">Looks good!</div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">

                    <label class="form-label fw-bold">Mobile number</label>
                    <input type="text" [(ngModel)]="form.mobile" name="mobile" class="form-control"
                        placeholder="Mobile number" required />
                    <div class="valid-tooltip">Looks good!</div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">

                    <label class="form-label fw-bold">Grade</label>
                    <select [(ngModel)]="form.grade" name="grade" class="form-control">
                        <option>Grade 3</option>
                        <option>Grade 4</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="endDate" class="form-label fw-bold">Birth date</label>
                    <input [(ngModel)]="form.birthDate" name="birthDate" type="date"
                        class="form-control" />
                </div>
            </div>

            <div class="d-flex">
                <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        </form>
    </app-card>
</div>