<!-- <div class="row">
    @if (user) {
    <div class="card p-4">
        <h3>User Details</h3>
        <p><strong>ID:</strong> {{ user.id }}</p>
        <p><strong>Name:</strong> {{ user.fullName }}</p>
        <p><strong>Mobile:</strong> {{ user.mobilePhone }}</p>
        <p><strong>Birth Date:</strong> {{ user.birthDate }}</p>
    </div>
    }

    @if (!user) {
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="text-muted text-center">
            <span class="loader"></span>
        </div>
    </div>
    }
</div> -->
<div class="row">
    <app-card cardTitle="Edit user" [options]="false" blockClass="table-border-style">
        <form action=" javascript:" class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01" class="form-label fw-bold">Full name</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Full Name" required />
                    <div class="valid-tooltip">Looks good!</div>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="validationTooltip02" class="form-label fw-bold">Mobile number</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="Mobile number"
                        required />
                    <div class="valid-tooltip">Looks good!</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip02" class="form-label fw-bold">Grade</label>
                    <select id="inputState" class="form-control">
                        <option selected>Grade 3</option>
                        <option>Grade 4</option>
                    </select>
                    <!-- <div class="invalid-tooltip">Please provide a valid state.</div>
                    <div class="valid-tooltip">Looks good!</div> -->
                </div>
                <div class="col-md-6 mb-3">
                    <label for="endDate" class="form-label fw-bold">End Date</label>
                    <input formControlName="endDate" id="endDate" type="date" class="form-control" />

                    <!-- <div *ngIf="submitted && f['endDate'].errors" class="invalid-feedback">
                        <div *ngIf="f['endDate'].errors['required']">
                            Please enter the end date.
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="d-flex">
                <button class="btn btn-success" type="submit">Save</button>
            </div>
        </form>
    </app-card>
</div>