<div class="alert-popup" *ngIf="utilityService.alertMessage">
    <div class="alert-box" [ngClass]="utilityService.alertType">
        {{ utilityService.alertMessage }}
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <app-card cardTitle="Take attendance" [options]="false" blockClass="table-border-style">
            <div class="d-flex align-items-center gap-3 mb-3">

                <form [formGroup]="searchForm" (ngSubmit)="getAttendanceByRanges()" novalidate>
                    <div class="d-flex gap-3 mb-3">

                        <div class="flex-grow-1">
                            <label for="startDate" class="form-label fw-bold">Start Date</label>
                            <input formControlName="startDate" id="startDate" type="date" class="form-control"
                                [ngClass]="{'is-invalid': submitted && f['startDate'].invalid}" />

                            <div *ngIf="submitted && f['startDate'].errors" class="invalid-feedback">
                                <div *ngIf="f['startDate'].errors['required']">
                                    Please enter the start date.
                                </div>
                            </div>
                        </div>

                        <div class="flex-grow-1">
                            <label for="endDate" class="form-label fw-bold">End Date</label>
                            <input formControlName="endDate" id="endDate" type="date" class="form-control"
                                [ngClass]="{'is-invalid': submitted && f['endDate'].invalid}" />

                            <div *ngIf="submitted && f['endDate'].errors" class="invalid-feedback">
                                <div *ngIf="f['endDate'].errors['required']">
                                    Please enter the end date.
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary">Search</button>
                </form>
            </div>

            <hr>

            @if (isLoading) {
            <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
                <div class="text-muted text-center">
                    <span class="loader"></span>
                </div>
            </div>
            }

            <div *ngIf="users.length > 0; else noUsers">

                @if (!isLoading) {
                <div class="d-flex justify-content-start">
                    <input type="text" class="form-control w-25" placeholder="Search by name..."
                        [(ngModel)]="searchTerm" />
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Full name</th>

                                @for (attendance of pagedUsers[0].attendances; track attendance) {
                                <th>
                                    <div class="d-flex justify-content-center">
                                        {{ attendance.date }}
                                    </div>
                                </th>
                                }

                            </tr>
                        </thead>
                        <tbody>
                            @for (user of pagedUsers; track user) {
                            <tr>
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.username }}</td>

                                @for (attendance of user.attendances; track attendance) {
                                <td>
                                    <div class="checkbox-wrapper-19 d-flex justify-content-center">
                                        <input type="checkbox" id="{{ user.id }}-{{ attendance.date }}"
                                            [(ngModel)]="attendance.isPresent" (change)="onRecordChange(user.id, attendance)" />
                                        <label for="{{ user.id }}-{{ attendance.date }}" class="check-box"></label>
                                    </div>
                                </td>
                                }
                            </tr>
                            }
                            <!-- @for (user of pagedUsers; track user) {
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.fullName }}</td>

                            @for (user of pagedUsers; track user) {
                            <td>
                                <div class="checkbox-wrapper-19"> // Option 1
                                    <input type="checkbox" id="{{ user.id }}" [(ngModel)]="user.isPresent" />
                                    <label for="{{ user.id }}--{{ user.id }}" class="check-box"></label>
                                </div>
                            </td>
                            }
                        
                        </tr>
                        } -->
                            @empty {
                            <tr>
                                <td colspan="5" class="text-center text-muted">
                                    No users found.
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled" [class.disabled]="currentPage === 1">
                                <a class="page-link" href="javascript:" (click)="prevPage()">Previous</a>
                            </li>

                            @for (page of pages; track page) {
                            <li class="page-item">
                                <a class="page-link" href="javascript:" [class.active]="page === currentPage"
                                    (click)="goToPage(page)">
                                    {{ page }}
                                </a>
                            </li>
                            }

                            <li class=" page-item" [class.disabled]="currentPage === totalPages">
                                <a class="page-link" href="javascript:" (click)="nextPage()">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                }
            </div>


            <div class="mt-3">
                <button class="btn btn-success" [disabled]="changes.length === 0"
                    (click)="submitAttendance()">Save</button>
            </div>

            <ng-template #noUsers>
                <div class="text-center text-muted py-5 border rounded bg-light">
                    <h5>No users found</h5>
                </div>
            </ng-template>
        </app-card>
    </div>
</div>