<div class="alert-popup" *ngIf="utilityService.alertMessage">
    <div class="alert-box" [ngClass]="utilityService.alertType">
        {{ utilityService.alertMessage }}
    </div>
</div>

<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <!-- <img src="assets/images/logo-dark.png" alt="logo" class="img-fluid mb-4" /> -->
            <h4 class="mb-3 f-w-400">Login</h4>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

              <div class="input-group mb-3">

                <span class="input-group-text" id="basic-addon1"><i class="feather icon-mail"></i></span>
                <input type="text" formControlName="username" class="form-control" placeholder="Username"
                  [ngClass]="{'is-invalid': submitted && f['username'].invalid}" />

                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                  <div *ngIf="f['username'].errors['required']">
                    Please enter your username.
                  </div>
                  <div *ngIf="f['username'].errors['minlength']">
                    Username must be at least 4 characters.
                  </div>
                </div>
              </div>

              <div class="input-group mb-4">

                <span class="input-group-text" id="basic-addon3"><i class="feather icon-lock"></i></span>
                <input type="password" formControlName="password" class="form-control" placeholder="Password"
                  [ngClass]="{'is-invalid': submitted && f['password'].invalid}" />

                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">
                    Please enter your password.
                  </div>
                  <div *ngIf="f['password'].errors['minlength']">
                    Password must be at least 6 characters.
                  </div>
                </div>
              </div>

              <div class="d-grid">
                <button class="btn btn-block btn-primary mb-4">SignIn</button>
              </div>
              
            </form>

            <!-- <div class="form-group text-start mt-2">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="" />
                <label for="checkbox-fill-a1" class="cr">Save credentials</label>
              </div>
            </div> -->

            <!-- <p class="mb-2 text-muted">
              Forgot password?
              <a href="javascriprt:" class="f-w-400">Reset</a>
            </p> -->
            <p class="mb-0 text-muted">
              Don’t have an account?
              <br>
              <!-- <a [routerLink]="['/register']" class="f-w-400">Do not ask to create an account yet</a> -->
              <a class="f-w-400">Don't ask to create an account yet.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>