<div class="row">

    @for (card of cards; track card) {
    <div class="col-md-6 col-xl-3">
        <app-card [hidHeader]="true" cardClass="{{ card.background }} order-card">
            <h6 class="text-white">{{ card.title }}</h6>
            <h2 class="text-end text-white">
                <i class="feather {{ card.icon }} float-start"></i>
                <span>{{ card.number }}</span>
            </h2>
            <p class="m-b-0">
                {{ card.text }}
                <span class="float-end">{{ card.no }}</span>
            </p>
        </app-card>
    </div>
    }

    <!-- https://getcssscan.com/css-checkboxes-examples -->

    <div class="col-xl-12"> <!-- option 1 -->
        <app-card cardTitle="Al Makhdomen" [options]="false" blockClass="table-border-style">

            <div class="mb-3 d-flex justify-content-start">
                <input type="text" class="form-control w-25" placeholder="Search by name..." [(ngModel)]="searchTerm" />
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Full name</th>
                            <th>Mobile phone</th>
                            <th>Birth date</th>
                            <th>Attended?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of pagedUsers; track user) {
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.mobilePhone }}</td>
                            <td>{{ user.birthDate }}</td>
                            <td>
                                <div class="checkbox-wrapper-19"> <!-- Option 1 -->
                                    <input type="checkbox" id="{{ user.id }}" [(ngModel)]="user.isAttended" />
                                    <label for="{{ user.id }}" class="check-box"></label>
                                </div>
                            </td>
                        </tr>
                        }
                        @empty {
                        <tr>
                            <td colspan="5" class="text-center text-muted">
                                No users found.
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled" [class.disabled]="currentPage === 1">
                            <a class="page-link" href="javascript:" (click)="prevPage()">Previous</a>
                        </li>

                        @for (page of pages; track page) {
                        <li class="page-item">
                            <a class="page-link" href="javascript:" [class.active]="page === currentPage"
                                (click)="goToPage(page)">
                                {{ page }}
                            </a>
                        </li>
                        }

                        <li class=" page-item" [class.disabled]="currentPage === totalPages">
                            <a class="page-link" href="javascript:" (click)="nextPage()">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </app-card>
    </div>

    <div class="col-xl-12"> <!-- option 2 -->
        <app-card cardTitle="Al Makhdomen" [options]="false" blockClass="table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Full name</th>
                            <th>Mobile phone</th>
                            <th>Birth date</th>
                            <th>Attended?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of pagedUsers; track user) {
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.mobilePhone }}</td>
                            <td>{{ user.birthDate }}</td>
                            <td>
                                <div class="checkbox-wrapper-18"> <!-- option 2 -->
                                    <div class="round">
                                        <input type="checkbox" id="{{ user.id }}" [(ngModel)]="user.isAttended" />
                                        <label for="{{ user.id }}"></label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                        @empty {
                        <tr>
                            <td colspan="5" class="text-center text-muted">
                                No users found.
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled" [class.disabled]="currentPage === 1">
                            <a class="page-link" href="javascript:" (click)="prevPage()">Previous</a>
                        </li>

                        @for (page of pages; track page) {
                        <li class="page-item">
                            <a class="page-link" href="javascript:" [class.active]="page === currentPage"
                                (click)="goToPage(page)">
                                {{ page }}
                            </a>
                        </li>
                        }

                        <li class=" page-item" [class.disabled]="currentPage === totalPages">
                            <a class="page-link" href="javascript:" (click)="nextPage()">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </app-card>
    </div>

    <!-- <div class="col-xl-12">
        <app-card cardTitle="Al Makhdomen" [options]="false" blockClass="table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Full name</th>
                            <th>Mobile phone</th>
                            <th>Birth date</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of users; track user) {
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.mobilePhone }}</td>
                            <td>{{ user.birthDate }}</td>
                            <td>
                                <div class="checkbox-wrapper-31">
                                    <input type="checkbox" id="{{ user.id }}" [(ngModel)]="user.isAttended" />
                                    <svg viewBox="0 0 35.6 35.6">
                                        <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                                        <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                        <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                                    </svg>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </app-card>
    </div> -->
</div>