/**  =====================
      Custom css start
==========================  **/
body {
  font-family: $theme-font-family;
  font-size: $theme-font-size;
  color: $theme-font-color;
  font-weight: 400;
  background: $theme-background;
  position: relative;
}

* {
  &:focus {
    outline: none;
  }
}

a {
  &:hover {
    outline: none;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $theme-heading-color;
  font-weight: 600;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

b,
strong {
  font-weight: 600;
}

.img-radius {
  border-radius: 50%;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.page-header {
  box-shadow: $card-shadow;
  background: #fff;
  padding: 20px 25px;
  border-radius: 5px;

  h5 {
    margin-bottom: 16px;
    padding-bottom: 12px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 600;
  }

  .page-header-title+.breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0;

    >.breadcrumb-item {
      line-height: 1;

      a {
        color: $primary-color;

        font: {
          weight: 400;
        }
      }

      &:last-child a {
        color: $theme-font-color;
        font-weight: 400;
      }
    }
  }
}

.pcoded-main-container {
  .page-header {
    margin-bottom: 30px;
  }
}

/* ==========  card css start  =========== */

.anim-rotate {
  animation: anim-rotate 1s linear infinite;
}

@keyframes anim-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.anim-close-card {
  animation: anim-close-card 1.4s linear;
}

@keyframes anim-close-card {
  100% {
    opacity: 0.3;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

//==========  card css End  ===========
// ================================    Dropdown Start  ===================== */

.dropdown-menu {
  padding: 10px 0;
  font-size: $theme-font-size;

  >li,
  >.dropdown-item {
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 10px;
    width: auto;
    border-radius: 2px;

    >a {
      padding: 5px;
      color: $theme-font-color;

      i {
        font-size: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      background: $primary-color;
      color: #fff;
      box-shadow: 0 0 4px 0 rgba(43, 43, 43, 0.25);

      >a {
        background: transparent;
        color: #fff;
      }
    }
  }

  >a {

    &.active,
    &:active,
    &:focus,
    &:hover {
      background: $primary-color;
      color: #fff;
    }
  }
}

.drp-icon {
  &:after {
    display: none;
  }
}

/* ================================    Dropdown End  ===================== */
@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

a {
  text-decoration: none !important;
}

/* ================================    tooltip slider Start  ===================== */

.tooltip {
  &.in {
    opacity: 0.9;
  }

  .tooltip-arrow {
    position: absolute;
    width: 0;
    border-color: transparent;
  }

  &.top {
    padding: 5px 0;
    margin-top: -3px;

    .tooltip-arrow {
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0;
      border-top-color: #000;
    }
  }
}

/* ================================    tooltip slider End  ===================== */

/* ================================    Blockquote Start  ===================== */

.blockquote {
  border-left: 0.25rem solid $theme-border;
  padding: 0.5rem 1rem;

  &.text-end {
    border-left: none;
    border-right: 0.25rem solid $theme-border;
  }
}

/* ================================    Blockquote End  ===================== */
/* ================================    animation start  ===================== */

.card .animated {
  animation-duration: 1s;
  border: 5px solid #fff;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

/* ================================    animation End  ===================== */


/* ================================  loader start  ===================== */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ================================  loader end  ===================== */


/* ================================  confirmation window  ===================== */

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1030;
  transition: opacity 0.3s ease;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 500px;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

/* ================================    ===================== */




/* ================================    ===================== */

/* Overlay container */
.alert-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  /* above all layers */
  animation: fadeSlide 0.3s ease-out;
}

/* Base style */
.alert-box {
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  min-width: 250px;
  text-align: center;
}

/* Success */
.alert-success {
  background-color: $success-color;
}

/* Danger */
.alert-danger {
  background-color: $danger-color;
}

/* Slide-down animation */
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}

/* ================================    ===================== */